body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

#tables-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin: 30px 0;
}

.table-card {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.free {
  background-color: green;
}

.occupied {
  background-color: red;
}

.booking-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.booking-box input {
  padding: 10px;
  width: 150px;
}

.booking-box button {
  padding: 10px 15px;
  cursor: pointer;
}

#message {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
.menu-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  flex: 2;
}

.menu-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.menu-card h3 {
  margin: 10px 0;
}

.menu-card button {
  background: #ff7a18;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.menu-card button:hover {
  background: #e96b0c;
}

.cart-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.confirm-btn {
  width: 100%;
  background: green;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: darkgreen;
}

#cart {
  margin-bottom: 10px;
}
.waiter-btn {
  width: 100%;
  margin-top: 10px;
  background: #555;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.pay-btn {
  width: 100%;
  margin-top: 10px;
  background: #0a7cff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.pay-btn:hover {
  background: #055ecb;
}
.split-btn {
  width: 100%;
  margin-top: 10px;
  background: #ff9800;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.split-btn:hover {
  background: #e68900;
}
.combine-btn {
  width: 100%;
  margin-top: 10px;
  background: purple;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.combine-btn:hover {
  background: darkmagenta;
}
